os: linux
dist: xenial

services:
  - mysql

language: php

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true
  include:
    - php: 7.4
      env: PHPCS=1
    - php: 7.4
      env: PHPUNIT_VERSION=7.5.20
    - php: 7.3
      env: PHPUNIT_VERSION=7.5.20
    - php: 7.2
      env: PHPUNIT_VERSION=7.5.20
    - php: 7.1
      env: PHPUNIT_VERSION=7.5.20
    - php: 7.0
      env: PHPUNIT_VERSION=6.5.14
    - php: 5.6
      env: PHPUNIT_VERSION=5.7.27

before_script:
  - |
    if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
      phpenv config-rm xdebug.ini
    else
      echo \"xdebug.ini does not exist\"
    fi
  - |
    if [ "$PHPCS" == "1" ]; then
      (cd tests && composer install)
    else
      # (as of 2021-10-05, certifi still stubbornly bundles the expired root;
      # see https://github.com/certifi/python-certifi/pull/162
      # and https://bugzilla.mozilla.org/show_bug.cgi?id=1733560 for updates)
      sudo sed -re 's#^(mozilla/DST_Root_CA_X3.crt)$#!\1#' -i /etc/ca-certificates.conf;
      sudo update-ca-certificates;
      export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt;
      bash bin/install-wp-tests.sh wordpress_test root '' localhost latest &&
      wget https://phar.phpunit.de/phpunit-$PHPUNIT_VERSION.phar -O /tmp/phpunit &&
      chmod +x /tmp/phpunit
    fi
script:
  - |
    if [ "$PHPCS" == "1" ]; then
      tests/vendor/bin/phpcs
    else
      composer require yoast/phpunit-polyfills
      /tmp/phpunit
      WP_MULTISITE=1 /tmp/phpunit
    fi
