<phpunit
	bootstrap="addons/tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="addons">
			<directory prefix="test" suffix=".php">./addons/tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./model</directory>
			<file>example-model</file>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
	</logging>
	<php>
		<var name="DB_DSN" value="mysql:dbname=wordpress_test;host=localhost" />
		<var name="DB_USER" value="root" />
		<var name="DB_PASSWD" value="root" />
		<var name="DB_DBNAME" value="wordpress_test" />
	</php>
</phpunit>
